{
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended", "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/react-in-jsx-scope": "error",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    # "linebreak-style": "off"
  }
}
